
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-color: 1px solid black;
    --text-color: white;
    --text-align: center;
    --padding: 15px;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
    display: flex;
    place-content: center space-evenly; /* Could be   justify-content: space-evenly;
  align-items: center; as well*/
}

nav a {
    color: var(--text-color);
    display: block;
    padding: var(--padding);
    text-decoration: none;
}

h1 {
    color: darkblue;
    border-bottom: 2px dashed darkblue;
    margin: 10px;
    padding: 5px;
}

main img {
    width: 150px;
    height: auto;
    margin: 0 2rem auto;
    border: var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: var(--padding);
}

main {
    grid-column: 2 / 3;
}

aside {
    width: 500px;
    text-align: var(--text-align);
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside h2 {
    position: absolute;
    top: 30px;
    right: 40%;
    text-shadow: 1px 1px white,
        0 0 5px #800020;
}

aside img {
    width: 200px;
    height: auto;
}

main p {
    padding: 0;
}

footer {
    margin-top: 3em;
    border-top: var(--border-color);
    text-align: var(--text-align);
}

.grid, header, footer {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 10px double  rgb(128, 0, 32);
    padding: 1rem;
    background-color: gold;
    color: black;
}
