:root {
    --border-color: 1px solid black;
    --text-color: white;
    --text-align: center;
    --padding: 15px;
}

nav {
    background-color: darkblue;
    padding: var(--padding);
}

nav a {
    color: var(--text-color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    border: var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
}

main {
    max-width: 2500px;
}

aside {
    width: 500px;
    margin: 0 auto;
    border: 10px double goldenrod;
    padding: 5px 10px;
    background-color: #800020;
    color: var(--text-color);
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
}

main p {
    padding: 0;
}

footer {
    margin-top: 3em;
    border-top: var(--border-color);
    text-align: var(--text-align);
}