header, footer p {
    background-color: rgb(52, 52, 52);
    text-align: center;
    color: #fff;
    padding: 1px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px auto;
    width: 350px;
}

main h1 {
    text-align: center;
    color: black;
    padding: 3px;
}

img {
    box-shadow: 0 0 50px black;
    width: 100%;
    height: auto;

}

section {
    background-color: gainsboro;
    padding: 0 2px;
    border: 0 solid transparent;
    margin: 3px;
}

h2 {
    border-bottom: 2px solid black;
}


